html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #EEF0F4;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

h2 {
    justify-content: center;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

img {
    max-width: 340px;
    justify-content: center;
}

.my_links {
    align-items: center;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    /* width: 50%; */

}
